@media (min-width: 1px) {
  .dk-footer {
    display: none;
  }
}

@media (min-width: 996px) {
  .dk-footer {
    display: block;
  }
}

.store-selector-section {
  margin: 25px 0px;
}

.location-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location-wrapper .location {
  background-color: #1E1F24;
  border: 1px solid #010603;
  border-radius: 3px;
  width: 140px;
  height: 80px;
  margin: 5px;
  padding: 5px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3s;
}

.location-wrapper .location:hover {
  cursor: pointer;
}

.location.selected {
  background-color: #F3BD16;
  color: black;
  font-weight: bold;
}

.coupon-code {
  width: 90%;
  margin: auto;
  border: 1px solid #FFFFFF;
  padding: 10px;
  font-size: 24px;
  border-radius: 3px;
  font-weight: bold;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F3BD16;
}

#joinPage, #instructionPage, #redeemPage, #donePage {
  display: none;
}

@-webkit-keyframes fadeIn {
  0% { -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}

@keyframes fadeIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

#couponSection {
  -webkit-animation: fadeIn 0.3s ease;
  animation: fadeIn 0.3s ease;
}