html {
	height: 100%;
}

body {
	margin: 0px;
	text-align: center;
	/*height: 100%;*/
	overflow-x: hidden;
	background-image: url('../images/bg.png');
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	/*position: relative;*/
}

* {
	box-sizing: border-box;
}

@media( min-width: 1px) {
	body {
		background-size: auto;
	}

	#page-wrapper {
		width: 100%;
		/*height: calc(100% - 65px);*/
	}

	.main-banner {
		display: none;
	}

	.header-banner img {
		width: 280px
	}
}

@media( min-width: 768px) {
	/*.banner img {
		width: 450px
	}*/
}
@media( min-width: 996px) {
	/*body {
		background-size: auto;
		height: 100%;
	}*/

	.content {
		height: 100%;
	}

	#page-wrapper {
		width: 50%;
		max-width: 400px;
		display: flex;
		align-items: center;
		/*height: calc(100% - 90px);*/
	}

	.header-banner img {
		display: none !important;
	}

	.main-banner {
		display: block;
		width: 50%;
		max-width: 400px;
	}

	.footer-banner {
		display: none;
	}


	.footer-banner img {
		display: none !important;
	}
}

@media( min-width: 1200px) {
	body {
		background-size: cover;
	}
}

@media (min-height: 900px) {
	body {
		background-size: cover;
	}
}

.content {
	display: flex;
	justify-content: center;
	max-width: 1200px;
	margin: auto;
}


#page-wrapper {
	position: relative;
	height: 100%;
}

.page {
	text-align: center;
}

.page .pagination-wrapper {
	margin-bottom: 15px;
}

.main-banner {
	position: relative;
}

.main-banner .banner-content {
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}

.main-banner img{
	max-width: 350px;
}

.header-banner {
	width: 100%;
	text-align: left;
	padding-top: 10px;
}

.header-banner img {
	display: block;
	margin: auto;
}

.footer-banner img {
	max-width: 400px;
	width: 90%;
	bottom: 0px;
    position: absolute;
	left: 50%;
	transform: translateX(-50%);
    z-index: -2;
    display: block;
    margin: auto;
}

.footer-banner .overlay {
	position: absolute;
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    bottom: 0px;
}

/*@media screen and (orientation:landscape) and ( max-width: 995px){
	body {
		background-size: auto;
		height: 100%;
	}

	.content {
		height: 100%;
	}

	#page-wrapper {
		width: 50%;
		max-width: 400px;
		display: flex;
		align-items: center;
		/*height: calc(100% - 90px);
	}

	.header-banner img {
		display: none !important;
	}

	.main-banner {
		display: block;
		width: 50%;
		max-width: 400px;
	}

	.main-banner img{
		max-width: 90%;
	}

	.footer-banner {
		display: none;
	}

	.footer-banner img {
		display: none !important;
	}

	@media screen and ( max-height: 600px) {
		#page-wrapper {
			align-items: flex-start;
		}
	}
}*/

/* for sticky footer */
body {
	height: 100%;
}

.content {
	min-height: calc(100% - 167px);
}

.footer-banner {
	z-index: -2;
	width: 100%;
	margin-top: 30px;
	position: relative;
	height: 100px;
	bottom: 0px;
}