@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

h2 {
  font-size: 22px;
  margin: 20px 15px;
  font-weight: bold;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

button, input[type="submit"] {
  border-radius: 3px;
  padding: 8px 20px;
  transition: 0.3s all;
  margin: 20px 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  transition: all 0.3s;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

button[disabled], input[disabled] {
  opacity: 0.5;
}

button.primary, input[type="submit"].primary {
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
  font-weight: 600;
  width: 120px;
  border: 1px solid #430000;
  background-color: #E5B114; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E5B114), to(#C29814));
  background-image: -webkit-linear-gradient(top, #E5B114, #C29814);
  background-image: -moz-linear-gradient(top, #E5B114, #C29814);
  background-image: -ms-linear-gradient(top, #E5B114, #C29814);
  background-image: -o-linear-gradient(top, #E5B114, #C29814);
  background-image: linear-gradient(to bottom, #E5B114, #C29814);
}

button.primary:hover, input[type="submit"].primary:hover {
  background-color: #F2BB15;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F2BB15), to(#DBAA18));
  background-image: -webkit-linear-gradient(top, #F2BB15, #DBAA18);
  background-image: -moz-linear-gradient(top, #F2BB15, #DBAA18);
  background-image: -ms-linear-gradient(top, #F2BB15, #DBAA18);
  background-image: -o-linear-gradient(top, #F2BB15, #DBAA18);
  background-image: linear-gradient(to bottom, #F2BB15, #DBAA18);
}

/*button.primary:active, input[type="submit"].primary:active {
  background-color: #f63032;
}*/

.link-button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  text-decoration: underline;
  color: white;
  padding: 2px;
  margin: 5px;
  display: inline-block;
}

.link-button:hover {
  cursor: pointer;
}

button.cancel {
  font-weight: 600;
  width: 120px;
  background-color: transparent;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

button.cancel:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #536D79;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.in-btn {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #536D79;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
}
.msg-wrapper {
  margin: 15px 0px;
  padding: 0px 20px;
  font-size: 16px;
}

.msg-wrapper .big {
  font-size: 32px;
  margin-bottom: 10px;
}


.loading-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  font-weight: 600;
}

.section {
  margin: 25px 0px;
}

.section-title {
  font-size: 22px;
  margin: 10px auto;
}